<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assignment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/2703fb7a38.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <img class="mclogo" src="image/mars_logo.png" alt="mars_cafe_logo">
        <div class="logo">Mars Café</div>
        <ul class="nav_ul">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Menu</a>
                <ul>
                    <li><a href="menu_food.html">Food</a></li>
                    <li><a href="menu_beverage.html">Beverage</a></li>
                    <li><a href="menu_comboset.html">Combo Set</a></li>
                    <li><a href="merchandise.html">Merchandise</a></li>
                </ul>
            </li>
            <li><a href="event_promotion.html">Event Promotion</a>
                <ul>
                    <li><a href="event.html">Event</a></li>
                    <li><a href="promotion.html">Promotion</a></li>
                </ul>
            </li>
            <li><a href="reservation.html">Reservation</a></li>
            <li><a href="about_us.html">About Us</a>
                <ul>
                    <li><a href="astronaut.html">Astronaut</a></li>
                    <li><a href="membership.html">Membership</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!--Small screen-->
    <nav class="small_s" id="small_ss">
        <div class="mclogo">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <img src="image/mars_logo.png" alt="Mars">Mars Café
        </div>

        <div id="myNavicon" class="navicon">
            <a href="javascript:void(0)" class="navclosebtn" onclick="closeNav()">&times;</a>
            <a href="index.html">Home</a>
            <a href="#">Menu</a>
            <ol>
                <a href="menu_food.html">Food</a>
                <a href="menu_beverage.html">Beverage</a>
                <a href="menu_comboset.html">Combo Set</a>
                <a href="merchandise.html">Merchandise</a>
            </ol>
            <a href="event_promotion.html">Event Promotion</a>
            <ol>
                <a href="event.html">Event</a>
                <a href="promotion.html">Promotion</a>
            </ol>

            <a href="reservation.html">Reservation</a>
            <a href="about_us.html">About Us</a>
            <ol>
                <a href="astronaut.html">Astronaut</a>
                <a href="membership.html">Membership</a>
            </ol>
        </div>
    </nav>

    <script>
        function openNav() {
            document.getElementById("myNavicon").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("myNavicon").style.width = "0";
        }
    </script>
    <script>

        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById('small_ss').style.top = "-100px";
            } else {
                document.getElementById('small_ss').style.top = "0px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>

    <div class="merchandise_mcd1">
        <div class="gallery-vertical">
            <img src="image/merchandise_m/m_bag_front.JPG" alt="" />
            <img src="image/merchandise_m/bag_1.JPG" alt="" />
            <img src="image/merchandise_m/bag_2.avif" alt="" />
            <img src="image/merchandise_m/bag_3.JPG" alt="" />
            <img src="image/merchandise_m/bag_4.JPG" alt="" />
            <img src="image/merchandise_m/bag_5.JPG" alt="" />

        </div>


        <div class="column1">
            <h2>Mars Tote Bag</h2>
            <hr>
            <br>
            <p>Surdy cloth, thick leather<br>
                White & Black <br><br>

            <div id="price"><strong>MYR 100.00</strong></div>
            </p>
        </div>

        <div class="designer" style="background-color: #e4d9c3;">
            <h1>DESIGN BY</h1>
            <br>
            <img src="image/merchandise_m/designerlia.jpg" alt="" class="merchandisedesigner1" />
            <br>
            <h2>Julia Choi</h2>
            <br>
            <blockquote>The public is more familiar with bad design than good design. is, in effect, conditioned to
                prefer bad design, <br>because that is what it lives with. The new becomes threatening, the old
                reassuring.
            </blockquote>
        </div>
    </div>
    
    <!--footer-->
    <footer>
        <div class="content ">

            <ul class="socials ">
                <li><a href="mailto:marscafe1023@gmail.com"><i class="fa-solid fa-envelope "></i></a></li>
                <li><a href="https://wa.me/+603-41450123" target="_blank"><i class="fa-brands fa-whatsapp "></i></a>
                </li>
                <li><a href="https://instagram.com/mars_cafe1023?igshid=YmMyMTA2M2Y=" target="_blank"><i
                            class="fa-brands fa-instagram "></i></a></li>
                <li><a href="https://www.facebook.com/Mars-Café-103796502239072/" target="_blank"><i
                            class="fa-brands fa-facebook-f "></i></a></li>
                <li><a href="tel:+03-41450123 "><i class="fa-solid fa-phone "></i></a></li>
            </ul>
        </div>


        <div class="footer-bottom ">
            <p>copyright &copy;2022 MarsCafé. Designed & developed by <span>RSF1S2G2</span><br>
                <a href="term_privacy.html ">Term & Privacy</a>&nbsp;|&nbsp;<a href="membership.html">Membership</a>
            </p>
        </div>
    </footer>

</body>

</html>
