* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav img.mclogo{
    float: left;
    border-radius: 50%;
    width: 4.1%;
    margin-left: 50px;
    margin-top: 5px;
}

body{
    font: #f2f2f2;
    background: #fffaf1;
}

/*navigation*/
nav {
    background-color: #1b1b1b;
    color: #f2f2f2;
    margin-bottom: 30px;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 10px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    z-index: 1;
}

nav ul li {
    display: inline-block;
    background:#1b1b1b;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    box-shadow: 0 0 5px #33ffff,0 0 5px #33ffff;
    border-radius: 5px;
    color: cyan;
}

nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;

}

nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}


nav ul ul li {
    position: relative;
    margin: 0px;
    width: 140px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a {
    line-height: 50px;
}
/*end of naviagtion*/

/*slideshow*/
div .slideshow {
    box-sizing: border-box;
}

.slideshow {
    font-family: Verdana, sans-serif;
    margin: 0;
}

.mySlides {
    display: none;
}

.slideshow img {
    vertical-align: middle;
}
/* Slideshow container */

.slideshow-container {
    max-width: 1470px;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) 

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
} */
/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}
/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
/*map*/

.mapouter {
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 400px;
    width: 1500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 400px;
    width: 1500px;;
}

/*MENU*/
img .menuisningpart_picture_left{
    float: left;
    
  }

  .menu_ning_container_left {
    position: absolute;
  }
  
  .menu_ning_container_left img {vertical-align:middle;}
  
  .menu_ning_container_left .menu_ning_content {
    position:absolute;
    left: 45%;
    top: 75%;
    bottom: 0;
    width: 100%;
    height: 94px;
    background: #140606; /* Fallback color */
    background: rgba(20, 6, 6, 0.65); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    text-align: center;
    
  }

#pillar {

    display: block;
    margin: 100px 75%; 
    width: 300px; 
    transform: translateX(-200px); 
    perspective: 1900px;
}

.menu_ning_wrap {display: flex; transform: rotateY(0deg);
transition: all 1.0s cubic-bezier(.25,.8,.25,1);
   transform-style: preserve-3d;
}

.menu_ning_row {
  width: 800px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 3.0s cubic-bezier(.25,.8,.25,1);
}
  .menu_ning_row:hover .menu_ning_wrap {
      transform: rotateY(-45deg);
      cursor: pointer;
  }
  .menu_ning_row:hover {z-index: 1;}

  .menu_ning_row:hover left :before {width: 55%;}


  .menu_ning_left { 
      width: 400px; 
      padding: 15px 20px; 
      text-align: right;
    
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

    .menu_ning_left:before {
        content: "";
       position: absolute; 
       display: block; 
       top:0; left:0; 
       width: 50%; 
       height: 100%;
      transition: width 1s ease-in-out;
    }
 
  
  .menu_ning_right { width: 400px; padding: 15px 20px;
  text-align: left;
    transform: rotateY(90deg);
  transform-origin: left center;
    transform-style: preserve-3d;
     backface-visibility: hidden;
  }
/*--------------------------------------*/
  .menuisningpart_picture_right {
    width: 30%;
    padding-right: 15px;
    margin-right: 15px;
    float: right;
}

.menu_ning_container_right {
    position: relative;

  }
  
  .menu_ning_container_right img {vertical-align:middle;}
  
  .menu_ning_container_right .menu_ning_content_right {
    position: absolute;
    margin: 100px -75%;
    bottom: 0;
    width: 690px;
    height: 80px;
    background: rgb(20, 6, 6); /* Fallback color */
    background: rgba(20, 6, 6, 0.65); /* Black background with 0.5 opacity */
    color: #fffaf1;
    text-align: center;
    
  }


  #pillar1 {
   
    display: block; 
    margin: 100px 10%; 
    width: 550px; 
    transform: translateX(-200px); 
    perspective: 1900px;
   }
   
   .menu_ning_wrap {display: flex; transform: rotateY(0deg);
   transition: all 1.0s cubic-bezier(.25,.8,.25,1);
      transform-style: preserve-3d;
   }
   
   .menu_ning_row {
     width: 1200px;
     position: relative;
     z-index: 2;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: bold;
     transform-style: preserve-3d;
     transform: rotateY(0deg);
     transition: all 3.0s cubic-bezier(.25,.8,.25,1);
   }
     .menu_ning_row:hover .menu_ning_wrap {
         transform: rotateY(-45deg);
         cursor: pointer;
     }
     .menu_ning_row:hover {z-index: 1;}
   
     .menu_ning_row:hover left :before {width: 55%;}
   
   
     .menu_ning_left { 
         width: 400px; 
         padding: 15px 20px; 
         text-align: right;
       
     transform-style: preserve-3d;
     transform: rotateY(0deg);
   }
   
       .menu_ning_left:before {
           content: "";
          position: absolute; 
          display: block; 
          top:0; left:0; 
          width: 50%; 
          height: 100%;
         transition: width 1s ease-in-out;
       }
       
     
     .menu_ning_right { 
         width: 400px; 
         padding: 15px 20px;
        text-align: left;
        transform: rotateY(90deg);
        transform-origin: left center;
        transform-style: preserve-3d;
        backface-visibility: hidden;
     }
  
/*menu end*/

/*combo set start*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {

    font-size: 50px;
    text-decoration:none;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #DDD;
  }
  
  tr:hover {
      background-color: #f4a261;
      color: #fffaf1;
    }

  tr td a:hover {
      background-color: #f4a261;
      color: #fffaf1;
    }

  body tbody tr td a {
      text-decoration:none;
      color: #140606;
  }

  body thead th {
      color: #f4a261;
  }

 /*disable th hover*/ 
th {
    pointer-events: none;
    text-decoration: none;
}
.comboset_column {
    float: left;
    font-size: 35px;   
    text-decoration: none;
    text-align: center; 
    padding: 15px;
    height: 740px;
    width: 33.33%;
    overflow-x: scroll;
    overflow-y: scroll;
    cursor:default;
  }
  
  .comboset_column::-webkit-scrollbar {
    display: none;
    }

  /* Clear floats after the columns */
  .comboset_row_lunch:after {
    content: "";
    text-decoration: none;
    display: table;
    clear: both;
  }
/*combo set end*/

@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}
.ning_combomenu_display {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 5rem 5rem;
}

.display {
	display: grid;
	grid-template-columns: 100%;
	gap: 0.1em;
}

div .HOVER {
	--width: 100%;
	--time: 0.7s;

	position: relative;
	display: inline-block;
    text-align: center;
    padding: 6rem 3rem ;
    
    text-decoration: none;
	color:#fffaf1;
	background: #F92D60;
	overflow: hidden;
}

.HOVER text {
    margin-top: 30px;
	position:relative;
	z-index: 5;
	
	transition: color var(--time);
}


.HOVER span {
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;
	
	border-radius: 100%;
	background: #fff;
	
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
	width: calc(var(--width) * 2.25);
	padding-top: calc(var(--width) * 2.25);
}

.HOVER.FLASH:hover text {
	color:#fffaf1;
}

.HOVER.FLASH span {

	background:#fffaf1;
}


/*footer*/
    
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0rem 0;
}

.socials li {
    margin: 0 20px;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a i {
    font-size: 1.1rem;
}

.socials a:hover i {
    color: aquamarine;
}

.footer-bottom {
    background: #000;
    width: auto;
    padding: 10px;
    text-align: center;
    padding-bottom: 5;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .7;
    font-weight: 200;
}

.footer-bottom p a {
    text-decoration: none;
    color: white;
}

.footer-bottom p a:hover {
    color: aquamarine;
  
}
/*end of footer*/

/*event  promotion*/
.eventheadn {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(image/event_promotion_ep/eventphead.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -30px;
}

.textinhead {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.textinhead h1 {
    font-size: 60px;
}

.textinhead p {
    margin: 10px 0 40px;
    font-size: 30px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@media(max-width : 700px){
    .textinhead h1 {
        font-size: 20px;
    }
}
 
.special_event {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: #fad0c4;
}

.special_event h1 {
    font-size: 50px;
    font-weight: 600;
}

.special_event p{
    color: #777;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.eventrow {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.event-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    left: 10%;
}

.event-col h3 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0 ;
    color: #fff;
}

.event-col p {
    color: rgb(6, 6, 6);
}

.event-col:hover {
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
}

.eventbutton a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    background: transparent;
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, serif;
    cursor: pointer;
    margin-bottom: 100px;
    font-variant: small-caps ;
}

.eventbutton:hover a {
    border: 1px solid black;
    color: white;
    background: rgb(0, 0, 0);
    transition: 1s;
}

@media(max-width : 700px) {
    .eventrow {
        flex-direction: column;
    }
}

.promotional {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background: #cfd9df ;
    padding-left: 5%;
    padding-right: 5%;
}

.promotional h1{
    font-size: 50px;
    font-weight: 600;
}

.promotional p{
    color: #777;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.promotional-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
} 

.promotional-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(71, 60, 60, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 30px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* end of event promotion*/



/*event page*/
.eventpageheader {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(104, 106, 110, 0.6),rgba(104, 106, 110, 0.6)),url(image/event_promotion_ep/event123.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -30px;
    position: relative;
    color: #fff;
}

.textineventpageheader {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.textineventpageheader h1 {
    font-size: 60px;
    margin-top:10px ;
}

.eventpagerow {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 5%;
}

.eventpage {
    width: 100%;
    margin: auto;
}

.eventpage > p {
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px 0;
    text-align: center;
    background-color: #93a5cf;
}

.event-column {
    flex-basis: 48%;
    padding: 20px 1px;
    padding-top: 4%;
    padding-bottom: 4%;
}

.event-column img {
    width: 80%;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.4s ease-in-out;
}

.event-column img:hover  {
    transform: scale(1.2);
} 

.event-column h1 {
    padding-top: 0;
    font-size: 50px;
    font-weight: 500;
}

.event-column p {
    padding: 15px 0 25px;
    line-height: 25px;
    font-size: 22px;
    font-family: sans-serif;
}

.calendar-icon img {
    width: 50px;
    float: left;
}

@media(max-width : 700px) {
    .eventpagerow {
        flex-direction: column;
    }
}

.event-comment {
    padding: 50px 0;
    background: #f1f1f1d7;
    color: #000;
    text-align: center;
}

.commenhead {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.commen-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.commen-col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.commen {
    background: #fff;
    padding: 30px;
}

.commen img {
    width: 150px;
    height: 150px;
    border-radius: 45%;
}

.commen-name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

@media(max-width : 960px) {
    .commen-col {
        flex: 100%;
        max-width: 80%;
        flex-direction: column;
    }
}

@media(max-width : 700px) {
    .commen-col {
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
    }
}

/* end of event */

/* promotion page */
.promotionpageheader {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(104, 106, 110, 0.6),rgba(104, 106, 110, 0.6)),url(image/event_promotion_ep/promotionhead.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -30px;
    position: relative;
    color: #fff;
}

.textinpromotionpageheader {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.textinpromotionpageheader h1 {
    font-size: 60px;
    margin-top:10px ;
}

.promotionh {
    text-align: center;
    padding-top: 30px;
    font-size: 26px;
    background-color: #fcb69f;
}

.promotiopage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 3%;
}

.comboset {
    height: 650px;
    width: 440px;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    background: #f2f2f2;
    box-shadow: 5px 10px 20px #000;

}

.comboset:hover {
    background-color: #000;
    color: #f2f2f2;
    transform: scale(1.03);
    transition: all 1s ease;
}

.pic {
    width: 440px;
    height: 300px;
    position: relative;
    object-fit: cover;
}


.comboset h2 {
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
}

.comboset p {
    margin: 10px 20px;
    padding: 10px 0;

}

.comboset a {
    margin: 10px 0;
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
    font-weight: 700;
    border-color: #000;
}

.comboset:hover a{
    color: #f2f2f2;
    text-decoration: underline;
}

@media(max-width : 1024px) {
    .promotiopage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.promotionh1 {
    text-align: center;
    padding-top: 2%;
    background-color: #FFF6B7 ;
    padding-bottom: 3%;
}

.promotionh1 > h1 {    
    padding-bottom: 20px;
    font-size: 60px;
}

.valentine  {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
} 

.valentine img{
    width: 100%;
    height: 600px;
    display: flexbox;
    padding-left: 10%;
    padding-right: 10%;
}

.valentinelayer {
    background: transparent;
    height: 800px;
    width: 80%;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    transition: 0.5s;
}

.valentinelayer:hover {
    background: rgba(71, 60, 60, 0.7);
}

.valentinelayer ul{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
    list-style-type: none;
}

.valentinelayer:hover ul {
    bottom: 49%;
    opacity: 1;
}

.merch p {
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

.promo_merchandise {
    width: 100%;
    padding-top: 50%;
    background: url('image/event_promotion_ep/ep_merchandise.jpg') no-repeat center;
    background-size: cover;
}
/* end of promotion*/
