@charset "utf-8";

nav.navigation_img ul li a {
    position: relative;
    text-align: center;
    font-family: Champagne, cursive;
    line-height: 1.8em;
    font-size: 1.2em;
    }  

 nav ul li{
     text-align: center;
     
    }

