* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav img.mclogo{
    float: left;
    border-radius: 50%;
    width: 4.1%;
    margin-left: 50px;
    margin-top: 5px;
}

body{
    font: #f2f2f2;
    background: #fffaf1;
}

/*navigation*/
nav {
    background-color: #1b1b1b;
    color: #f2f2f2;
    margin-bottom: 30px;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 10px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    z-index: 1;
}

nav ul li {
    display: inline-block;
    background:#1b1b1b;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    box-shadow: 0 0 5px #33ffff,0 0 5px #33ffff;
    border-radius: 5px;
    color: cyan;
}

nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;

}

nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}


nav ul ul li {
    position: relative;
    margin: 0px;
    width: 140px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a {
    line-height: 50px;
}
/*end of naviagtion*/

/*slideshow*/
div .slideshow {
    box-sizing: border-box;
}

.slideshow {
    font-family: Verdana, sans-serif;
    margin: 0;
}

.mySlides {
    display: none;
}

.slideshow img {
    vertical-align: middle;
}
/* Slideshow container */

.slideshow-container {
    max-width: 1470px;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) 

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
} */
/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}
/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
/*map*/

.mapouter {
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 400px;
    width: 1500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 400px;
    width: 1500px;;
}

/*MENU*/
img .menuisningpart_picture_left{
    float: left;
    
  }

  .menu_ning_container_left {
    position: absolute;
  }
  
  .menu_ning_container_left img {vertical-align:middle;}
  
  .menu_ning_container_left .menu_ning_content {
    position:absolute;
    left: 45%;
    top: 75%;
    bottom: 0;
    width: 100%;
    height: 94px;
    background: #140606; /* Fallback color */
    background: rgba(20, 6, 6, 0.65); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    text-align: center;
    
  }

#pillar {

    display: block;
    margin: 100px 75%; 
    width: 300px; 
    transform: translateX(-200px); 
    perspective: 1900px;
}

.menu_ning_wrap {display: flex; transform: rotateY(0deg);
transition: all 1.0s cubic-bezier(.25,.8,.25,1);
   transform-style: preserve-3d;
}

.menu_ning_row {
  width: 800px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 3.0s cubic-bezier(.25,.8,.25,1);
}
  .menu_ning_row:hover .menu_ning_wrap {
      transform: rotateY(-45deg);
      cursor: pointer;
  }
  .menu_ning_row:hover {z-index: 1;}

  .menu_ning_row:hover left :before {width: 55%;}


  .menu_ning_left { 
      width: 400px; 
      padding: 15px 20px; 
      text-align: right;
    
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

    .menu_ning_left:before {
        content: "";
       position: absolute; 
       display: block; 
       top:0; left:0; 
       width: 50%; 
       height: 100%;
      transition: width 1s ease-in-out;
    }
 
  
  .menu_ning_right { width: 400px; padding: 15px 20px;
  text-align: left;
    transform: rotateY(90deg);
  transform-origin: left center;
    transform-style: preserve-3d;
     backface-visibility: hidden;
  }
/*--------------------------------------*/
  .menuisningpart_picture_right {
    width: 30%;
    padding-right: 15px;
    margin-right: 15px;
    float: right;
}

.menu_ning_container_right {
    position: relative;

  }
  
  .menu_ning_container_right img {vertical-align:middle;}
  
  .menu_ning_container_right .menu_ning_content_right {
    position: absolute;
    margin: 100px -75%;
    bottom: 0;
    width: 690px;
    height: 80px;
    background: rgb(20, 6, 6); /* Fallback color */
    background: rgba(20, 6, 6, 0.65); /* Black background with 0.5 opacity */
    color: #fffaf1;
    text-align: center;
    
  }


  #pillar1 {
   
    display: block; 
    margin: 100px 10%; 
    width: 550px; 
    transform: translateX(-200px); 
    perspective: 1900px;
   }
   
   .menu_ning_wrap {display: flex; transform: rotateY(0deg);
   transition: all 1.0s cubic-bezier(.25,.8,.25,1);
      transform-style: preserve-3d;
   }
   
   .menu_ning_row {
     width: 1200px;
     position: relative;
     z-index: 2;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: bold;
     transform-style: preserve-3d;
     transform: rotateY(0deg);
     transition: all 3.0s cubic-bezier(.25,.8,.25,1);
   }
     .menu_ning_row:hover .menu_ning_wrap {
         transform: rotateY(-45deg);
         cursor: pointer;
     }
     .menu_ning_row:hover {z-index: 1;}
   
     .menu_ning_row:hover left :before {width: 55%;}
   
   
     .menu_ning_left { 
         width: 400px; 
         padding: 15px 20px; 
         text-align: right;
       
     transform-style: preserve-3d;
     transform: rotateY(0deg);
   }
   
       .menu_ning_left:before {
           content: "";
          position: absolute; 
          display: block; 
          top:0; left:0; 
          width: 50%; 
          height: 100%;
         transition: width 1s ease-in-out;
       }
       
     
     .menu_ning_right { 
         width: 400px; 
         padding: 15px 20px;
        text-align: left;
        transform: rotateY(90deg);
        transform-origin: left center;
        transform-style: preserve-3d;
        backface-visibility: hidden;
     }
  
/*menu end*/

/*combo set start*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {

    font-size: 50px;
    text-decoration:none;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #DDD;
  }
  
  tr:hover {
      background-color: #f4a261;
      color: #fffaf1;
    }

  tr td a:hover {
      background-color: #f4a261;
      color: #fffaf1;
    }

  body tbody tr td a {
      text-decoration:none;
      color: #140606;
  }

  body thead th {
      color: #f4a261;
  }

 /*disable th hover*/ 
th {
    pointer-events: none;
    text-decoration: none;
}
.comboset_column {
    float: left;
    font-size: 35px;   
    text-decoration: none;
    text-align: center; 
    padding: 15px;
    height: 740px;
    width: 33.33%;
    overflow-x: scroll;
    overflow-y: scroll;
    cursor:default;
  }
  
  .comboset_column::-webkit-scrollbar {
    display: none;
    }

  /* Clear floats after the columns */
  .comboset_row_lunch:after {
    content: "";
    text-decoration: none;
    display: table;
    clear: both;
  }
/*combo set end*/

@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}
.ning_combomenu_display {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 5rem 5rem;
}

.display {
	display: grid;
	grid-template-columns: 100%;
	gap: 0.1em;
}

div .HOVER {
	--width: 100%;
	--time: 0.7s;

	position: relative;
	display: inline-block;
    text-align: center;
    padding: 6rem 3rem ;
    
    text-decoration: none;
	color:#fffaf1;
	background: #F92D60;
	overflow: hidden;
}

.HOVER text {
    margin-top: 30px;
	position:relative;
	z-index: 5;
	
	transition: color var(--time);
}


.HOVER span {
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;
	
	border-radius: 100%;
	background: #fff;
	
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
	width: calc(var(--width) * 2.25);
	padding-top: calc(var(--width) * 2.25);
}

.HOVER.FLASH:hover text {
	color:#fffaf1;
}

.HOVER.FLASH span {

	background:#fffaf1;
}


/*footer*/
    
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0rem 0;
}

.socials li {
    margin: 0 20px;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a i {
    font-size: 1.1rem;
}

.socials a:hover i {
    color: aquamarine;
}

.footer-bottom {
    background: #000;
    width: auto;
    padding: 10px;
    text-align: center;
    padding-bottom: 5;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .7;
    font-weight: 200;
}

.footer-bottom p a {
    text-decoration: none;
    color: white;
}

.footer-bottom p a:hover {
    color: aquamarine;
  
}
/*end of footer*/