@charset "utf-8";

html {
    background: #B48546;
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
 }

body {
    width: 95%;
    width: 640px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    /*background-color: lightskyblue;*/
    ;
 }

#mclogo {
    margin: 50px;
    margin-right: 30px;
    width: 150px;
    border-radius: 50%;
  
     
}

body header {
    font-weight: bold;
    font-size: 85px;
    display: inline;
    position: absolute;
    margin-top: 80px;

}

nav.navigation_img ul li{
    width: 20%;
    padding: 10px;
    margin-bottom: 50px;
    display: block;
    border: solid rgba(127,96,17,1.00); 
    float: left

}

nav.navigation_img ul li a:link,
nav.navigation_img ul li a:visited{
    color: rgb(239, 220, 156);
}

nav.navigation_img ul li a:hover,
nav.navigation_img ul li a:active{
    color: white;
    background-color: rgba(244, 158, 0.2);
}

nav.navigation_img ul li a{
    display:table-cell  
    float none;
}

*{box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
div.numbertext img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  clear:left;
}

/* Caption text 
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 11%; 
} */

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

div.mapouter {
    margin-top: 50px;
    margin-bottom: 50px;
}







/* footer */

.footer-left {
    display:inline;  
    margin: 0px;
    padding: 0px; 
    float: left;
}

.footer-left a:link{
    display: inline;
    margin: 0px;
    padding: 0px;
    float: left; 
    text-decoration: none;  
}

.footer-right img{
    width: 30px;
    display: inline;
    float:right;
}
